body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: rgb(0, 255, 0);
}

body {
  height: inherit;
  overflow: hidden;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.subtitle{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 1.2;
  height: 500px;
  width: 100%;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);

  text-align: center;
}

/* .translation{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 1.2;
  height: 230px;
  width: 100%;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);

  text-align: center;
} */
