body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

body {
  height: inherit;
  overflow: hidden;
}


button {
  /* margin: 0 auto; */
  /* display: block; */
  font-size: 0.6em;
  width: 100px;
  margin-top: 10px;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.subtitle{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 1;
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  text-align: center;
}

.translation{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 1.2;
  height: 230px;
  width: 100%;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);

  text-align: center;
}
